@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    //since we need 2 parts of total page width hence mention it a flex 2...right bar has flex:3 and outlet as flex:6(given in app.js) itself
    flex: 3;
    position: sticky;
    // margin-right: 5px;
    // extra mention top:50+10+10(height of navabar +overall padding) px
    top: 70px;
    // left: 10px;
    //specify overall height of left bar..in general--total height(100px) - top part
    height: calc(100vh - 70px);
    // for excessive elements use scroll
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");
    // padding: 20px;
    @include mobile{
      display: none;
    }
    //to eliminate scroll bar and keep it transparent
    &::-webkit-scrollbar{
        display: none;
    }
    
    transition: transform 0.3s ease, opacity 0.3s ease;

    &.open {
      transition: transform 0.3s ease, opacity 0.3s ease;
      transform: translateX(0);
      opacity: 1;
      background-color: themed("bgSoft");
    }
    
    &.closed {
      transition: transform 0.3s ease, opacity 0.3s ease;
      transform: translateX(-100%);
      flex: 0;
      opacity: 0;
      pointer-events: none;
    }
// styling all the contaniers
    .container {
        // give space from left side
      padding-right:0px;
      margin-left: 70px;
      margin-top: 20px;
      margin-bottom: 20px;

      // border: 2px solid red;
      background-color: themed("bgSoft");
      // margin: 10px;
    //   desgin hr tags
    // padding->border->margins
      hr {
        margin: 20px 0px;
        // height of hr tags
        height: 0.5px;
        // color of hr tags found by bg color not only color
        background-color: themed("border");
      }
    //   each individual container
    //all containers are displayed as flex and in column and gap between each row(container) is 20px
      .menu{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        background-color: themed("bg");
        border-radius: 15px;
        //universal stylng of span tags
        span {
          font-size: 15px;
          color: themed("textColorSoft");
        }
        .right{
          display: flex;
        flex-direction: column;
        gap: 20px;
          .item{
            gap: 15px;
            color:lightblue;
            // cursor: pointer;
            span{

              font-size: 18px;
              color: themed("textColor");
            }
          }
        }
//user contains pic and text hence..display as flex and also aligh center as it is combo of pic and text
//gap is for gap from below element
        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            //height and width and shape are decided and since border radius is changed hence resize and fit it to the container using object-fit cover
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
          }
        }
//common styling for remaining elements
        .item {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
