@import "../../style.scss";
.navbar {
  // @include funtion name ($classname)
  // wrap all the styles of navbar inside themify function name
  @include themify($themes) {
    // display both the left and right section horizontolly using flex and align all their items to center
    display: flex;
    align-items: center;
    //give space between both the left and right section
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid grey;
    //make its position as sticky
    position: sticky;
    top: 0;
    // access the themify function props using themed("property")
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 999;
    border: none;
    box-shadow: 5px 5px 5px lightcyan;
    ;
    .left {
        //similar alignment for internal section as of main section 
      display: flex;
      align-items: center;
      //give a gap between elements rows and columns
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .search {
        //to display search icon and input as flex
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          background-color: transparent;
          color: themed("textColor");
//eliminte inputs for smaller devices
          @include mobile{
            display: none;
          }

          @include tablet{
            width: 200px;
          }
        }
      }
      button{
        background-color: transparent;
      }
    }
    .center
    {
      .searchbar{
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        height: 50px;
        // width: 250px;
        table {
          color: white;
          background-color: themed("border");
          z-index: 49;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border: 2px solid orange;
          box-shadow: 2px 3px 4px red;
          color: themed("textColor");
          display: flex;
          justify-content:center;
          align-items:center;
          // text-align: center;
          
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        td {
          // width: 250px;
          font-size: 20px;
          
        }
        .accounts{
          display: flex;
          justify-content:flex-start;
          align-items:center;
          gap: 20px;
          margin-bottom: 10px;
          cursor: pointer;
          text-transform: capitalize;
        }
        link{
          text-decoration: none;
        }
      }
      .search {
        padding: 10px;
        font-size: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: center;
        width: 500px;
        background-color: themed("bg");
        border: 2px solid orange;
        color: themed("textColor");
        outline: none;
        box-shadow: 2px 3px 4px red;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @include mobile{
        display: none;
      }
      // .toggle-left-bar-btn{
      //   position: absolute;
      //   top: 10px;
      //   left: 0px;
      //   // right: 10px;
      //   background-color: #5271ff; // Example button color
      //   color: white;
      //   border: none;
      //   padding: 8px 12px;
      //   border-radius: 5px;
      //   cursor: pointer;
      //   z-index: 2; // Ensure the button is above the left bar content
      // }
      button{
        height: 50px;
        width: 150px;
        padding:10px 20px ;
        background-color:blueviolet;
        // background-color: themed("");
        border-radius: 40px;
        text-align: center;
        border: none;
        color: white;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        cursor: pointer;
      }
      .list {
        padding: 0;
        list-style: none;
        text-align: center;
      }
      
      .listItem {
        margin-bottom: 20px;
        font-size: 25px;
        color: #444;
        font-weight: 300;
      }
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        // cursor:ar;
        @include tablet{
          display: none;
        }
        //styling for logo(standard)
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        span{
          font-size: 20px;
        }
        
      }
    }
  }
}